# Rust
/target/
**/*.rs.bk
Cargo.lock

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# By-products
*.tmp
*.swp
*.swo

# Android
/android/.gradle/
/android/.idea/
/android/local.properties
/android/app/build/
/android/build/

# Docker
*.pid

# Misc
node_modules/
.env
.env.*

# Database
*.sqlite
*.db

# Ignore backend build artifacts
/backend/target/
/backend/.env
/backend/.env.*
/backend/Cargo.lock

# Ignore test output
/backend/tests/output/
/secrets/*



android/*.iml
android/.gradle
android//local.properties
android//.idea/caches
android//.idea/libraries
android//.idea/modules.xml
android//.idea/workspace.xml
android//.idea/navEditor.xml
android//.idea/assetWizardSettings.xml
android/.DS_Store
android/build
android//captures
android/.externalNativeBuild
android/.cxx
android/local.properties
